{
  "plugins": ["json-beta"],
  "rules": {
      "json-beta/*": "warn",
      "json-beta/duplicate-key": "error",
      "json-beta/trailing-comma": "error",
      "json-beta/comment-not-permitted": "warn"
  }
}
