{
  "plugins": ["json-beta"],
  "rules": {
      "json-beta/*": ["warn"],
      "json-beta/duplicate-key": "error",
      "json-beta/trailing-comma": "error"
    },
    "overrides": [
        {
            "files": ["samples/jsonc.json"],
            "rules": {
                "json-beta/json": ["warn", {"allowComments": true}]
            }
        }
    ]
}
